body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(241, 225, 189);
 }
 section{
   display: flex;
   flex-direction: row;
   align-items:normal;
   flex-direction: column;
   justify-content:left;
   background-color: rgb(241, 225, 189);

 }

article{
   border: 1px solid black;
   display: flex;
   flex-direction: row;
}

.tablaEventos{
   border: 1px solid red;
}
.crearEventoForm{
   border: 1px solid orange;
   color: blue;
   
}
tr{
   border: 1px solid blue;
   display: flex;
   flex-direction: row;
}

 form{
    margin: 10px;
    padding: 10px;
 }

 form > input {
    margin: 10px;
 }

 button{
   margin: 10px;
 }